// Portfolio Modal 5
#portfolio-modal-5.portfolio-modal.mfp-hide
  .portfolio-modal-dialog.bg-white
    a.close-button.d-none.d-md-block.portfolio-modal-dismiss(href='#')
      i.fa.fa-3x.fa-times
    .container.text-center
      .row
        .col-lg-8.mx-auto
          h2.text-secondary.text-uppercase.mb-0 Project Name
          hr.star-dark.mb-5
          img.img-fluid.mb-5(src='public/images/portfolio/safe.png', alt='')
          p.mb-5
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          a.btn.btn-primary.btn-lg.rounded-pill.portfolio-modal-dismiss(href='#')
            i.fa.fa-close
            |             Close Project
