// Portfolio Grid Section
section#portfolio.portfolio
  .container
    h2.text-center.text-uppercase.text-secondary.mb-0 Portfolio
    hr.star-dark.mb-5
    .row
      .col-md-6.col-lg-4
        a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-1')
          .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
            .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
              i.fa.fa-search-plus.fa-3x
          img.img-fluid(src='public/images/portfolio/cabin.png', alt='')
      .col-md-6.col-lg-4
        a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-2')
          .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
            .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
              i.fa.fa-search-plus.fa-3x
          img.img-fluid(src='public/images/portfolio/cake.png', alt='')
      .col-md-6.col-lg-4
        a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-3')
          .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
            .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
              i.fa.fa-search-plus.fa-3x
          img.img-fluid(src='public/images/portfolio/circus.png', alt='')
      .col-md-6.col-lg-4
        a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-4')
          .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
            .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
              i.fa.fa-search-plus.fa-3x
          img.img-fluid(src='public/images/portfolio/game.png', alt='')
      .col-md-6.col-lg-4
        a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-5')
          .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
            .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
              i.fa.fa-search-plus.fa-3x
          img.img-fluid(src='public/images/portfolio/safe.png', alt='')
      .col-md-6.col-lg-4
        a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-6')
          .portfolio-item-caption.d-flex.position-absolute.h-100.w-100
            .portfolio-item-caption-content.my-auto.w-100.text-center.text-white
              i.fa.fa-search-plus.fa-3x
          img.img-fluid(src='public/images/portfolio/submarine.png', alt='')
