.row.text-center
	.col-lg-6
		a.mt-2.btn.btn-xl.btn-outline-danger(href='/auth/google')
			i.fa.fa-google-plus.mr-2
			| Google
	.col-lg-6.mr-auto
		a.mt-2.btn.btn-xl.btn-outline-info(href='/auth/twitter')
			i.fa.fa-twitter.mr-2
			| Twitter