h2.text-center.text-uppercase.text-secondary.mb-0 Password
hr.star-dark.mb-5
form#passwordForm(name='passwordForm', novalidate='novalidate', action='/profile/password', method='POST')
	input(type='hidden', name='_csrf', value=_csrf)
	.control-group
		.form-group.floating-label-form-group.controls.mb-0.pb-2
			label(for='profile-password') New Password
			input#profile-password.form-control(type='password', name='password', placeholder='New Password', required='required', data-validation-required-message='Please enter your new password.', autocomplete='new-password')
			p.help-block.text-danger
	.control-group
		.form-group.floating-label-form-group.controls.mb-0.pb-2
			label(for='profile-confirm-password') Confirm New Password
			input#profile-confirm-password.form-control(type='password', name='confirm_password', placeholder='Confirm New Password', required='required', data-validation-required-message='Please confirm your new password.', autocomplete='new-password')
			p.help-block.text-danger
	br
	#success
	.form-group
		button#submitPassword.btn.btn-primary.btn-xl.pull-right(type='submit') Update Password