extends ../layout.pug

block content
	include ../partials/flash
	section.container.container-padding
		.row
			.col-lg-6.mx-auto
				include ../partials/update-profile
			.col-lg-6.mx-auto
				include ../partials/update-password