extends ../layout.pug

block content
	// Error Section
	section#error.container-padding
		.container
			if title
				h2.text-center.text-uppercase.text-secondary.mb-0 #{title}!
			else
				h2.text-center.text-uppercase.text-secondary.mb-0 We are under maintainance
			
			hr.star-dark.mb-5
			
			.row
				.col-lg-12.mx-auto.d-flex.justify-content-start
					code
						pre #{errors}