extends ../layout.pug

block content
	// Error Section
	section#error.container-padding
		.container
			h2.text-center.text-uppercase.text-secondary.mb-0 We are under maintainance
			hr.star-dark.mb-5
			.row
				.col-lg-12.mx-auto
				| #{errors}