extends ../layout.pug

block content
  //- Header
  header.masthead.bg-primary.text-white.text-center
    .container
      img.img-fluid.mb-3.d-block.mx-auto(src="public/images/profile.png", alt="", style="width: 25%;")
      h1.text-uppercase.mb-0 #{global.process.env.APP_NAME}
      hr.star-light
      h2.font-weight-light.mb-0 #{global.process.env.APP_DESCRIPTION}
  
  //- Portfolio Grid
  include ../partials/portfolio.pug
  //- Portfolio Modals
  include ../modals/portfolio.modal-1.pug
  include ../modals/portfolio.modal-2.pug
  include ../modals/portfolio.modal-3.pug
  include ../modals/portfolio.modal-4.pug
  include ../modals/portfolio.modal-5.pug
  include ../modals/portfolio.modal-6.pug
  //- About-Us Section
  include ../partials/about.pug
  //- Contact Section
  include ../partials/contact.pug

  //- Footer
  include ../includes/footer.pug
