extends ../layout.pug

block content
  //- Portfolio Grid
  include ../partials/portfolio.pug
  //- Portfolio Modals
  include ../modals/portfolio.modal-1.pug
  include ../modals/portfolio.modal-2.pug
  include ../modals/portfolio.modal-3.pug
  include ../modals/portfolio.modal-4.pug
  include ../modals/portfolio.modal-5.pug
  include ../modals/portfolio.modal-6.pug
  //- About-Us Section
  include ../partials/about.pug
  //- Contact Section
  include ../partials/contact.pug
